.chatPage {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer {
    background-color: white;
    height: 60%;
    width: 50%;
}

.header {
    background-color: crimson;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > h2 {
    color: white;
    margin: 2.5vmax;
}

.header img {
    margin: 2.5vmax;
}


.chatBox {
    height: 70%;
    box-sizing: border-box;
}

.inputBox {
    height: 15%;
    box-sizing: border-box;
    display: flex;
}

#chatInput {
    font-size: 2.2vmax;
    width: 80%;
    border: none;
    padding: 2vmax;
    background-color: white;
    box-sizing: border-box;
    outline: none;
    border-top: 0.2vmax solid rgb(90, 88, 88);
}

.sendBtn {
    background-color: crimson;
    color: white;
    border: none;
    width: 20%;
    transition: all 0.3s;
    cursor: pointer;
}

.sendBtn:hover {
    background-color: rgb(115, 13, 33);
}

.sendBtn > img {
    width: 3vmax;
    filter: brightness(100) invert();
}