.JoinPage {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img {
    width: 10vmax;
}

.JoinContainer > h1 {
    color: white;
    font-size: 2.5vmax;
    border-bottom: 0.2vmax solid white; 
    width: 25vmax;
    text-align: center;
    padding: 1vmax;
}

#joinInput {
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
}

.JoinBtn {
    width: 28vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    background-color: crimson;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}

.JoinBtn:hover {

}